---
title: Research
layout: default
---


<body class='body-research container-fluid'>

    <!--NAVBAR-->
    {% include navbar.html %}

    <!--HEADER-->
    {% include header.html %}

    <!--LAB RESEARCH-->
    <div class='lab-research-container row justify-content-between'>
        <div class='lab-research-tile-div lab-research-div col-md-5'>
            <h1 class='lab-research-h1'>Lab Research</h1>
        </div>
        <div class='lab-research-text-div lab-research-div col-md-7'>
            <h4 class='lab-research-h4'>
                Our lab conducts highly interdisciplinary research at the forefront of materials science, condensed
                matter physics, and electrical engineering. The experimental work includes materials synthesis using
                solid-state growth techniques including molecular
                beam epitaxy and e-beam evaporation. We then characterize our materials using advanced techniques
                ranging from electron microscopy to X-ray photoelectron spectroscopy, Auger spectroscopy, and
                femtosecond Ultraviolet photoelectron spectroscopy
                (fs-UPS). Our materials will be then integrated into solid-state devices such as Hall bars, Josephson
                junctions, Schottky diodes, etc. In order to probe the physics of the materials system under study we
                then cool down our devices in our
                dry refrigerators down to 1.5K and probe the properties under external magnetic/electric fields.
            </h4>
        </div>
    </div>

    <!--RESEARCH DIAGRAM-->
    <div class='row justify-content-between'>
        <div class='research-diagram-div col-md-12'>
            <img src="/assets/illos/diagram_1.png" alt="research diagram" class='research-diagram-illos'>
        </div>
    </div>

    <!--COLLABORATOR-->
    <div class="collaborator-container row justify-content-between">
        <div class="collaborator-div col-md-5">
            <h1 class='lab-research-h1'>Collaborator</h1>
        </div>
        <div class="col-md-7">
            <h5 class="collaborator-name">
                <b>Richard Haight</b>
                <br>IBM
            </h5>

            <h5 class="collaborator-name">
                <b>Andrew Kummel</b>
                <br>UCSD Chemistry
            </h5>

            <h5 class="collaborator-name">
                <b>Eli Levenson-Falk</b>
                <br>USC Physics
            </h5>
            
            <h5 class="collaborator-name">
                <b>Javad Shabani</b>
                <br>NYU Physics
            </h5>
            
            <h5 class="collaborator-name">
                <b>Davood Shahjerdi</b>
                <br>NYU Electrical Engineering
            </h5>
            
            <h5 class="collaborator-name">
                <b>Apparao Rao</b>
                <br>Clemson Physics
            </h5>
            
            <h5 class="collaborator-name">
                <b>Sumanta Tewari</b>
                <br>Clemson Physics
            </h5>
            
            <h5 class="collaborator-name">
                <b>William Vandenberghe</b>
                <br>UT Dallas
            </h5>
            
        </div>
    </div>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
