---
title: People
layout: default
---

<body class='body-people container-fluid'>
    <!--NAVBAR-->
    {% include navbar.html %}

    <!--HEADER-->
   {% include header.html %}

    <!--PEOPLE CONTAINER-->
    <div class='people-container row justify-content-between'>
        <!--PI-->
        <div class='people-single-container row justify-content-left'>
            <div class='people-text-div col-md-4'>
                <h1 class='people-h1'>
                    Principal Investigator
                </h1>
            </div>

            <div class='people-img-div people-div col-md-4'>
                <img src="/assets/photos/kasra_profile.png" alt="kasra sardashti profile pix" class='profile-img'>
                <div class='profile-div'>
                    <p class='profile-title'>
                        Prof. Kasra Sardashti <br> Assistant Professor of Physics & Astronomy <br> Assistant Professor
                        of Electrical Engineering
                    </p>
                    <hr class='under-title-hr'>

                    <p class='profile-bio'>
                        PhD in Materials Science, UC San Diego <br> MS in Advanced Materials, FAU Erlangen <br> BS in
                        Materials Eng, Tehran Polytechnic
                        <br><br> Office: AMRL<br> E-mail: ksardas(AT)clemson.edu
                    </p>
                </div>
            </div>
        </div>

        
       
        
        
        <!--GRADUATE STUDENTS-->
        <div class='people-single-container row justify-content-between'>
            <div class='people-text-div col-md-4'>
                <h1 class='people-h1'>
                    Graduate Students
                </h1>
            </div>
            
            
            
            <!--GRADUATE STUDENT 1-->
            <div class='people-img-div people-div col-md-4'>
                <img src="/assets/photos/BLJ_photo.png" alt="kasra sardashti profile pix" class='profile-img'>
                <div class='profile-div'>
                    <p class='profile-title'>
                        Bernardo (Junior) Langa <br> MS Student
                    </p>
                    <hr class='under-title-hr'>

                    <p class='profile-bio'>
                        BS in Applied Physics, Houghton College, NY
                        <br><br>Office: AMRL<br> E-mail: blanga@g.clemson.edu
                    </p>
                </div>
            </div>

            <!--GRADUATE STUDENT 2-->
            <div class='people-img-div people-div col-md-4'>
                <img src="/assets/photos/pingu_2.png" alt="kasra sardashti profile pix" class='profile-img'>
                <div class='profile-div'>
                    <p class='profile-title'>
                        Frank Duffy <br> PhD Student
                    </p>
                    <hr class='under-title-hr'>

                    <p class='profile-bio'>
                        BS in Physics, Bridgewater State University
                        <br><br>Office: AMRL<br> E-mail: tbd(AT)g.clemson.edu
                    </p>
                </div>
            </div>
        </div>

        <!--UNDER GRADUATE STUDENTS-->
        <div class='undergrad-container people-single-container row justify-content-left'>
            <div class='people-text-div col-md-4'>
                <h1 class='people-h1'>
                    Undergraduate Students
                </h1>
            </div>

            <!--UNDERGRADUATE STUDENT 1-->
            <div class='people-img-div people-div col-md-4'>
                <img src="/assets/photos/AllieLindler.png" alt="kasra sardashti profile pix" class='profile-img'>
                <div class='profile-div'>
                    <p class='profile-title'>
                        Allie Lindler
                    </p>
                    <hr class='under-title-hr'>

                    <p class='profile-bio'>
                        Junior at Clemson Chemistry
                        <br><br>Office: Jordan Hall<br> E-mail: allieml(AT)g.clemson.edu
                    </p>
                </div>
            </div>
            
            <!--UNDERGRADUATE STUDENT 2-->
            <div class='people-img-div people-div col-md-4'>
                <img src="/assets/photos/pingu_3.png" alt="kasra sardashti profile pix" class='profile-img' class='profile-img'>
                <div class='profile-div'>
                    <p class='profile-title'>
                        Rohan Chitrao
                    </p>
                    <hr class='under-title-hr'>

                    <p class='profile-bio'>
                        Junior at Clemson Physics
                        <br><br>Office: Jordan Hall<br> E-mail: rchitra(AT)g.clemson.edu
                    </p>
                </div>
            </div>
        </div>
        
        
        
    </div>

</body>
