---
title: Contact
layout: default
---

<body class='body-contact container-fluid'>
    <!--NAVBAR-->
    {% include navbar.html %}

    <!--HEADER-->
    {% include header.html %}

    <!--CONTACT-->
    <div class='visit-container row justify-content-between'>
        <div class='visit-tile-div visit-div col-md-4'>
            <!--VISIT US-->
            <div class='visit-text-div'>
                <h1 class='visit-h1'>Visit Us</h1>
                <h4 class='visit-h4'>
                    We are located on Clemson's main campus at the Kinard Physics Laboratory.
                </h4>
                <h4 class='visit-h4'>
                    140 Delta Epsilon Ct, 
                    <br>Clemson, SC 29631
                </h4>
            </div>

            <!--CONTACT US-->
            <div class='contact-text-div'>
                <h1 class='visit-h1'>Contact Us</h1>
                <h4 class='visit-h4'>
                    ksardas(AT)clemson.edu <br>+1 111-111-1111
                </h4>
            </div>
        </div>

        <div class='visit-map visit-div col-md-7'>
            <!--The div element for the map -->
            <div id="map"></div>
            <div style="width: 100%"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2146.609936929023!2d-82.83519256099423!3d34.6777458702579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96bbad4c6036c748!2sKinard%20Laboratory%20of%20Physics!5e0!3m2!1sen!2sus!4v1617382960219!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><a
                    href="https://www.maps.ie/route-planner.htm"></a></div>
            
        </div>
    </div>

</body>
