<!--FOOTER-->
<div class='footer-container row justify-content-left'>
    <div class='footer-div col-md-4'>
        <p class='footer-p'>ksardas@clemson.edu</p>
    </div>
    <div class='footer-div col-md-5'>
        <p class='footer-p'>
            <img src="/assets/logo/clemson_wordmark_lightpurple.png" alt="clemson logo" class="clemson-logo">
        </p>
        <p class='footer-p'>
            Advanced Materials Research Laboratory<br> P-4-19
            <br>Anderson, SC 29625
        </p>
    </div>
    <div class='footer-div col-md-3'>
        <p class='footer-p'>© <a href="https://emilylin.work" target="_blank">Emily Lin 2020</a></p>
    </div>
</div>