<!--NAVBAR-->
<nav class="navbar">
    <!--MENU BARS-->
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fa fa-bars"></i>
    </span>

    <!--LOGO-->
    <a href="/"><img src="/assets/logo/labeq_logo_1.png" alt="LaBEQ logo" class="logo"></a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="/research/" class="nav-links">Research</a>
        </li>
        <li>
            <a href="/publications/" class="nav-links">Publications</a>
        </li>
        <li>
            <a href="/facilities/" class="nav-links">Facilities</a>
        </li>
        <li>
            <a href="/people/" class="nav-links">People</a>
        </li>
        <li>
            <a href="/contact/" class="nav-links">Contact</a>
        </li>
    </ul>
</nav>

<!--SCRIPT-->
<script src="/scripts/main.js"></script>