<!-- <div class="header nav-container">
    <div class='navbar-row row justify-content-between'>

        <div class='logo-container nav-logo nav-div col-lg'>
            <a href="/"><img src="/assets/logo/labeq_logo_1.png" alt="LaBEQ logo" class="logo-img"></a>
        </div>

        <div class='nav-div col-lg'>
        </div>

        <div class='nav-research nav-div col-lg'>
            <p class='nav-p'>
                <a href="/research/">Research</a>
            </p>
        </div>

        <div class='nav-publications nav-div col-lg'>
            <p class='nav-p'>
                <a href="/publications/">Publications</a>
            </p>
        </div>

        <div class='nav-facilities nav-div col-lg'>
            <p class='nav-p'>
                <a href="/facilities/">Facilities</a>
            </p>
        </div>

        <div class='nav-people nav-div col-lg'>
            <p class='nav-p'>
                <a href="/people/">People</a>
            </p>
        </div>

        <div class='nav-contact nav-div col-lg'>
            <p class='nav-p'>
                <a href="/contact/">Contact</a>
            </p>
        </div>
    </div>
</div> -->