---
title: Facilities
layout: default
---

<body class='body-facilities container-fluid'>

    <!--NAVBAR-->
    {% include navbar.html %}

    <!--HEADER-->
    {% include header.html %}

    <!--IN HOUSE CAPABILITIES-->
    <div class='inhouse-container row justify-content-between'>

        <!--TITLE: IN HOUSE CAPABILITIES-->
        <div class='title-div row justify-content-between'>
            <div class='inhouse-div col-md-12'>
                <h1 class='inhouse-h1'>In-house Capabilities</h1>
            </div>
        </div>

        <!--Molecular Beam Epitaxy-->
        <div class='inhouse-equipment-container row justify-content-between'>
            <div class='inhouse-text-div inhouse-div col-md-5'>
                <h3 class='inhouse-h3'>
                    ScientaOmicron EVO-Compact Molecular beam epitaxy with UHV deposition capabilities from 77 to 1600 K. Equipped with effusion
                    and e-beam evaporation cells.
                </h3>

                <p class='inhouse-p'>Arriving May 2021</p>
            </div>

            <div class='inhouse-img-div inhouse-div col-md-6'>
                <img src="/assets/photos/molecular_beam_epitaxy.png" alt="molecular beam epitaxy" class='inhouse-img'>
            </div>
        </div>

        <!--Oxford Teslatron PT-->
        <div class='inhouse-equipment-container row justify-content-between'>
            <div class='inhouse-text-div inhouse-div col-md-5'>
                <h3 class='inhouse-h3'>
                    Oxford Teslatron PT dry refrigerator with base temperature of 1.5K and 12T magnetic field (single
                    axis).
                    This cryostat is equipped with an additional 3He probe that takes us down to 300 mK. When cold, the probe's 
                    end will officially be the COLDEST SPOT in the state of SC.
                </h3>

                <p class='inhouse-p'>Arriving July 2021</p>
            </div>

            <div class='inhouse-img-div inhouse-div col-md-6'>
                <img src="/assets/photos/oxford_teslatron.png" alt="oxford teslatron" class='inhouse-img'>
            </div>
        </div>

        <!--Oxford Teslatron PT-->
<!--         <div class='inhouse-equipment-container row justify-content-between'>
            <div class='inhouse-text-div inhouse-div col-md-5'>
                <h3 class='inhouse-h3'>
                    Sample preparation: BANTAM milling machine for PCB fabrication, soldering station, etc.
                </h3>

                <p class='inhouse-p'>Arriving June 2021</p>
            </div>

            <div class='inhouse-img-div inhouse-div col-md-6'>
                <img src="/assets/photos/bantam_milling.png" alt="bantam milling" class='inhouse-img'>
            </div>
        </div> -->
    </div>

    <!--CLEMSON SHARED FACILITIES-->
    <div class='shared-facilities-container row justify-content-between'>
        <!--TITLE: SHARED CAPABILITIES-->
        <div class='title-div row justify-content-between'>
            <div class='inhouse-div col-md-12'>
                <h1 class='inhouse-h1'>Clemson Shared Facilities</h1>
            </div>
        </div>

        <div class='shared-equipment-container row justify-content-between'>
            <!--MICRO FAB-->
            <div class='inhouse-div col-md-5'>
                <div class='shared-img-div'>
                    <img src="/assets/photos/micro_fab.png" alt="micro fabrication facilitiy" class="shared-img">
                </div>
                <div class='shared-text-div'>
                    <h3 class='shared-h3'>
                        Micro Fabrication Facility
                    </h3>
                    <p class='read-more-p'>Read More</p>
                </div>
            </div>

            <!--ELECTRON MICROSCOPY FACILITY-->
            <div class='inhouse-div col-md-5'>
                <div class='shared-img-div'>
                    <img src="/assets/photos/electron_microscopy.png" alt="electron micrscopy" class="shared-img">
                </div>
                <div class='shared-text-div'>
                    <h3 class='shared-h3'>
                        Electron Microscopy Facility
                    </h3>
                    <p class='read-more-p'>Read More</p>
                </div>
            </div>

            <!--MAGNETIC RESONANCE FACILITIES-->
            <div class='inhouse-div col-md-5'>
                <div class='shared-img-div'>
                    <img src="/assets/photos/magnetic_resonance_facility.png" alt="magnetic resonance facility"
                        class="shared-img">
                </div>
                <div class='shared-text-div'>
                    <h3 class='shared-h3'>
                        Magnetic Resonance Facilities and Capabilities
                    </h3>
                    <p class='read-more-p'>Read More</p>
                </div>
            </div>

            <!--XRAY-->
            <div class='inhouse-div col-md-5'>
                <div class='shared-img-div'>
                    <img src="/assets/photos/xray_facility.png" alt="xray facility" class="shared-img">
                </div>
                <div class='shared-text-div'>
                    <h3 class='shared-h3'>
                        X-ray Facility
                    </h3>
                    <p class='read-more-p'>Read More</p>
                </div>
            </div>
        </div>
    </div>

</body>
