---
title: Publications
layout: default
---

<body class='body-publications container-fluid'>
    <!--NAVBAR-->
    {% include navbar.html %}

    <!--HEADER-->
    {% include header.html %}

    <!--FILTER BY-->
    <div class="filter-container row justify-content-left">
        <div class='filter-div col-md-12'>
            <p class="filter-p">Filter By:</p>
        </div>

        <!--SELECTIONS: PUBLICATIONS-->
        <div class='selection-link col-md-5'>
            <h1>Publications</h1>
        </div>

        <!--SELECTIONS: PUBLICATIONS-->
        <div class='selection-link col-md-5'>
            <h1>Talks</h1>
        </div>
    </div>

    <!--ALL PUBLICATIONS-->

    <div class="main-publications-container">

        <!--JOURNAL ARTICLES-->
        {% for publication in site.publications %}
        <div class="publications-container row justify-content-between">

            <div class='publications-div-h1 col-md-5'>
                <h1>{{ publication.title }}</h1>
            </div>

            <div class='publications-text-div col-md-7'>
                {{ publication.content }}
            </div>
        </div>
        {% endfor %}

    </div>

</body>